language: python
before_install:
- pip install pycodestyle
- pip install pytest
- pip install pytest-cov
- pip install coveralls
- pip install sphinx
- pip install sphinx_rtd_theme
- pip install tpDcc-core
- pip install tpDcc-libs-unittests
install:
- pip install -r requirements.txt
- python setup.py install
script:
- find . -name \*.py -exec pycodestyle --exclude */externals/* --max-line-length=120
  --ignore=E402 {} +
- pytest --cov=tpDcc
- sphinx-apidoc -f -e -o docs/sphinx tpDcc
- sphinx-build -M html ./docs/sphinx ./
after_success:
- coveralls
- cd html && touch .nojekyll && cd ../
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: "$GITHUB_TOKEN"
    keep_history: true
    local_dir: html
    on:
      branch: master
  - provider: pypi
    skip_cleanup: true
    user: tpoveda
    password:
      secure: PA2KU3qcm4exwarROydSdr/9WXHXdeKquxbH5z6gfHjMraCryH8nSHvafgAfiAou9nQdzfX/fl8KKaaS2DItsIrQFMXGAumsomsVY+AlhcInTzFnTmWmfCUSvpCoUlv6x5USYYcPtOd8MARrCrb1cvcTHb/H+ndGXzCpNXRnD+vnUfk3uEtAm1oz+BhRQ60uL7ofHL592U3twmyOGAjQN0M7ivW8lnPpJyxaKcWvxhUSX+AqQNusrjEbdve9cduVghAB4BeEiM/2IXDPRF6ZhV+wZrhlMOn+ft4yMaNq4oVcDBAG4E8FqgVRrhGnKXKC9MYTJzkb7NdPFoFD6vV8RBPnTTIOTYYgCX0iF7rUgR3q26QYH41h/R8YFF3u2GCCu5rjmPSK2+oXmB5o+Bk5ntWIoHELsq/D5gXQNXQBYF7OyM6lcj1g9jVG6hxuUVQyDEW9W5mDfHs+OdbEBKnun2roc9pyz8KWbnViXQ2aDyH+P1bJNx7xL+Wj9tEC/NPN/AMytvUxvwaWycA1lhR3Cyg+5GRPsN6UQqycIjlx/2RywLOXNZRaLqkQ3SIyt3xSoD2k+tZQCcgWWcaIbvWYtGu4KMYcyiakI6bK+sL3eyAwxD01vd0kZo6Z/PpICHTnZnlbmo8AozpCK+/qbc6AmCyX9CRDAxU5B3luLuzcJnU=
    on:
      branch: master
      tags: true