# ===================================================================
# tpDcc-libs-options requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core